<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Editing a Drag and drop Question!</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb"></ol>
      </div>
    </div>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-12">
          <label for="questionName" style="color: black; font-weight: bold;">Question name</label>
          <input 
          [style]="{ 'font-size': '15px' }"
          type="text" formControlName="questionName" class="form-control" placeholder="Enter question name" required>
        </div>
        <hr class="mb-4">
        <div class="col-md-12">
          <label for="questionText" style="color: black; font-weight: bold;">Question text</label>
          <textarea
          [style]="{ 'font-size': '15px' }"

          formControlName="questionText" class="form-control" rows="5" placeholder="Enter question text" required></textarea>
        </div>
        <hr class="mb-4">
        <div class="col-md-12">
          <label for="questionContent" style="color: black; font-weight: bold;">Question Content</label>
          <p-editor [style]="{ height: '200px', 'font-size': '18px' }" class="custom-editor" formControlName="questionContent"></p-editor>
        </div>
        <hr class="mb-4">
        <div class="col-md-12">
          <label for="draggableItems" style="color: black; font-weight: bold;">Draggable items</label>
          <div formArrayName="draggableItems">
            <div *ngFor="let item of draggableItems.controls; let i = index" class="d-flex align-items-center">
              <input  
              [style]="{ 'font-size': '18px' }"

              type="text" [formControlName]="i" class="form-control" [placeholder]="'[' + (i + 1) + ']'">
              <button type="button" class="btn btn-danger ml-2" (click)="removeDraggableItem(i)">Delete</button>
            </div>
          </div>
          <button type="button" class="btn btn-secondary mt-2" (click)="addDraggableItem()">Add Item</button>
        </div>
        
        <hr class="mb-4">

        <div 
        style="margin-top: 20px; margin-bottom: 20px;"
        class="custom-control custom-checkbox mb-2">

        <input type="checkbox" class="custom-control-input" id="validation" formControlName="validation">
        <label class="custom-control-label" for="validation">Validate the question</label>

         </div>

        
        <hr class="mb-4">
        <div style="margin-top: 20px; margin-bottom: 20px; padding: 20px; border-radius: 5px;">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save question</button>
        </div>
      </div>
    </form>
  </div>
</div>
