<div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-transparent shadow-none">
            <div class="card-header flex-wrap border-0 p-0 justify-content-start">
              <div class="table-tabs mr-2 mb-3 mr-auto">
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                  <li class="nav-item" ngbNavItem="AllStatus">
                    <a style="margin: 2rem;" class="nav-link" data-toggle="tab" aria-expanded="false" ngbNavLink
                    (click)="showDialog()">
                   
                      Ajouter un coach
                    </a>
   
  

                    <ng-template ngbNavContent>
                        <div class="tab-pane fade active show" id="AllCoaches">
                          <div class="table-responsive rounded table-hover">
                            <table
                              class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard"
                              id="dataTable1"
                            >
                              <thead class="bg-primary">
                                <tr>
                                  <th>Nom</th>
                                  <th>Biographie</th>
                                  <th>Expertise</th>
                                  <th>Image</th>
                                  <th style="background-image:none;"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  class="alert alert-dismissible border-0"
                                  *ngFor="let coach of coaches | paginate: { itemsPerPage: 8, currentPage: p }"
                                >
                                  <td>{{ coach.name }}</td>
                                  <td>{{ coach.bio }}</td>
                                  <td>{{ coach.expertise }}</td>
                                  <td>
                                    <img
                                      *ngIf="coach.image"
                                      [src]="coach.image"
                                      alt="{{ coach.name }}"
                                      class="img-thumbnail"
                                      style="width: 50px; height: 50px;"
                                    />
                                    <span *ngIf="!coach.image">Pas d'image</span>
                                  </td>
                                  <td>
                                    <div class="dropdown dropdown-no-icon" ngbDropdown>
                                      <a
                                        class="btn-link"
                                        href="javascript:void(0)"
                                        data-toggle="dropdown"
                                        aria-expanded="false"
                                        ngbDropdownToggle
                                      >
                                        <svg
                                          xmlns="http://www.w3.org/2000/svg"
                                          xmlns:xlink="http://www.w3.org/1999/xlink"
                                          width="24px"
                                          height="24px"
                                          viewBox="0 0 24 24"
                                          version="1.1"
                                        >
                                          <g
                                            stroke="none"
                                            stroke-width="1"
                                            fill="none"
                                            fill-rule="evenodd"
                                          >
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <circle fill="#000000" cx="12" cy="5" r="2"></circle>
                                            <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                            <circle fill="#000000" cx="12" cy="19" r="2"></circle>
                                          </g>
                                        </svg>
                                      </a>
                                      <div
                                        class="dropdown-menu dropdown-menu-right"
                                        ngbDropdownMenu
                                      >
                                        <a
                                          class="dropdown-item text-info"
                                          (click)="openEditDialog(coach)"
                                         >
                                          Modifier coach
                                        </a>
                                        <a
                                          href="javascript:void(0);"
                                          data-dismiss="alert"
                                          aria-label="Close"
                                          class="dropdown-item"
                                           style="color: red;"
                                           (click)="deleteConfirmation(coach.id || '')"
                                        >
                                          Supprimer coach
                                        </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                          </div>
                        </div>
                      </ng-template>
                      



                  </li>
  
  
  
   
  
  
                  <p-dialog
                  header="Modifier coach"
                  [(visible)]="displayDialog2"
                  [style]="{ width: '50%', height: '70%' }"
                  [responsive]="true"
                  [modal]="isModal"
                >
                  <form (ngSubmit)="onUpdateCoach()">
                    <!-- Coach Name -->
                    <div class="form-group">
                      <label for="name">Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        [(ngModel)]="newCoach.name"
                        required
                      />
                    </div>
                
                    <!-- Bio -->
                    <div class="form-group">
                      <label for="bio">Biographie</label>
                      <textarea
                        class="form-control"
                        id="bio"
                        name="bio"
                        [(ngModel)]="newCoach.bio"
                      ></textarea>
                    </div>
                
                    <!-- Expertise -->
                    <div class="form-group">
                      <label for="expertise">Expertise</label>
                      <input
                        type="text"
                        class="form-control"
                        id="expertise"
                        name="expertise"
                        [(ngModel)]="newCoach.expertise"
                      />
                    </div>
                
                    <button
                      type="submit"
                      class="btn btn-primary"
                      style="background-color: #CF6A68; border-color: #CF6A68;"
                    >
                      Confirmer
                    </button>
                  </form>
                </p-dialog>
                
  
  
                  <p-dialog
                  header="Ajouter un nouveau coach"
                  [(visible)]="displayDialog"
                  [style]="{ width: '50%', height: '70%' }"
                  [responsive]="true"
                  [modal]="isModal"
                >
                  <form (ngSubmit)="_addCoach(convertToFormData(newCoach))" #coachForm="ngForm">
                    <!-- Name -->
                    <div class="form-group">
                      <label for="name">Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        [(ngModel)]="newCoach.name"
                        required
                        #name="ngModel"
                      />
                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        Le nom est obligatoire.
                      </div>
                    </div>
                
                    <!-- Bio -->
                    <div class="form-group">
                      <label for="bio">Biographie</label>
                      <textarea
                        class="form-control"
                        id="bio"
                        name="bio"
                        [(ngModel)]="newCoach.bio"
                        #bio="ngModel"
                      ></textarea>
                    </div>
                
                    <!-- Expertise -->
                    <div class="form-group">
                      <label for="expertise">Expertise</label>
                      <input
                        type="text"
                        class="form-control"
                        id="expertise"
                        name="expertise"
                        [(ngModel)]="newCoach.expertise"
                        #expertise="ngModel"
                      />
                    </div>
                
                    <!-- Image -->
                    <div class="form-group">
                      <label for="image">Image</label>
                      <input
                        type="file"
                        class="form-control"
                        id="image"
                        name="image"
                        (change)="onImageUpload($event)"
                      />
                      <div *ngIf="imageDisplay" class="mt-2">
                        <img [src]="imageDisplay" alt="Preview" style="width: 100px; height: auto;" />
                      </div>
                    </div>
                
                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="coachForm.invalid"
                    >
                      Ajouter
                    </button>
                  </form>
                </p-dialog>
                
  

   
  
  
  
  
  
  
  
  
  
  
  
  
                </ul>
              </div>
  
  
             
  
   
  
  
  
  
  
            </div>
  
  
            <div [ngbNavOutlet]="nav" class=""></div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
      Content body end
  ***********************************-->