<div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-transparent shadow-none">
            <div class="card-header flex-wrap border-0 p-0 justify-content-start">
              <div class="table-tabs mr-2 mb-3 mr-auto">
                <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                  <!-- Sessions Tab -->
                  <li class="nav-item" ngbNavItem="AllSessions">
                    <a class="nav-link" ngbNavLink>Calendrier</a>
                    <ng-template ngbNavContent>
                      <div class="calendar-container">
                        <div class="calendar-header">
                          <div class="calendar-day" *ngFor="let day of weekDays">{{ day }}</div>
                        </div>
                        <div class="calendar-body">
                          <div class="calendar-row" *ngFor="let hour of hours">
                            <div class="calendar-hour">{{ hour }}</div>
                            <div class="calendar-cell" *ngFor="let day of weekDays">
                              <div class="calendar-session" *ngFor="let session of getSessionsForDayAndHour(day, hour)">
                                {{ session.name }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                    </ng-template>
                  
                  </li>


 






                  <!-- Bookings Tab -->
                  <li class="nav-item" ngbNavItem="AllBookings">
                    <a class="nav-link" ngbNavLink>Réservations</a>
                    <ng-template ngbNavContent>
                      <div class="tab-pane fade active show" id="AllBookings">
                        <!-- Filter Buttons -->
                        <div class="btn-group mt-3 mb-3">
                          <!-- Daily Filters -->
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'monday' }"
                            (click)="filterBookingsByDay('monday')"
                          >
                            Lundi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'tuesday' }"
                            (click)="filterBookingsByDay('tuesday')"
                          >
                            Mardi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'wednesday' }"
                            (click)="filterBookingsByDay('wednesday')"
                          >
                            Mercredi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'thursday' }"
                            (click)="filterBookingsByDay('thursday')"
                          >
                            Jeudi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'friday' }"
                            (click)="filterBookingsByDay('friday')"
                          >
                            Vendredi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'saturday' }"
                            (click)="filterBookingsByDay('saturday')"
                          >
                            Samedi
                          </button>
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'sunday' }"
                            (click)="filterBookingsByDay('sunday')"
                          >
                            Dimanche
                          </button>
                        
                          <!-- Monthly Filter -->
                          <button
                            class="btn filter-button"
                            [ngClass]="{ 'active-filter': activeBookingFilter === 'month' }"
                            (click)="filterBookingsThisMonth()"
                          >
                            Ce mois
                          </button>
                        </div>
                        


                            
                        <mat-form-field appearance="fill"  
                        style="margin-left: 20rem;"
                        class="style-2 mr-3 mb-3 dashboard-select">
                          <mat-select
                            placeholder="Select Today's Session"
                            [(value)]="selectedSessionName"
                            (selectionChange)="filterBookingsBySession()"
                          >
                            <mat-option *ngFor="let session of scheduledSessions" [value]="session.name">
                              {{ session.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
  
                        <!-- Bookings Table -->
                        <div class="table-responsive rounded table-hover">
                          <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="bookingsTable">
                            <thead class="bg-primary">
                              <tr>
                                <th>Nom du session</th>
                                <th>Nom du cours</th>
                                <th>Nom de l'utilisateur</th>
                                <th>Statut</th>
                                <th>Date de création</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="alert alert-dismissible border-0"
                                *ngFor="let booking of filteredBookings | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{ booking.scheduledSession?.name }}</td>
                                <td>{{ booking.scheduledSession?.cours?.name }}</td>
                                <td>{{ booking.user?.fullname }}</td>
                                <td>
                                  <select
                                    class="form-control"
                                    [ngModel]="booking.status"
                                    (ngModelChange)="updateBookingStatus(booking, $event)"
                                  >
                                    <option [ngValue]="'confirmé'">Confirmé</option>
                                    <option [ngValue]="'annulé'">Annulé</option>
                                  </select>
                                </td>
                                
                                <td>{{ booking.createdAt | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                  <div class="dropdown ml-auto dropdown-no-icon" ngbDropdown display="dynamic">
                                
                                    <td>
                                      <button
                                        class="btn btn-sm"
                                        style="background-color: #F8D7D0; border-color: #F4A8A1; color: #000;"
                                        (click)="deleteConfirmation(booking.id || '')"
                                      >
                                        Supprimer
                                      </button>
                                    </td>
                                    
                                    
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                     
                        
                    
                        
                        <!-- Display filtered bookings -->
                   
                        
                        
                      </div>
                    </ng-template>
                  </li>
                </ul>
              </div>
            </div>
            <div [ngbNavOutlet]="nav" class=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  