.filter-button {
    background-color: #F8D7D0; /* Light coral */
    color: #000; /* Black text for readability */
    border-color: #F4A8A1; /* Coral for border */
    padding: 10px 20px;
     border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .filter-button:hover {
    background-color: #F4A8A1; /* Slightly darker coral */
    transform: scale(1.05); /* Subtle hover animation */
    border-color: #CF6A68; /* Align with table's red theme */
  }
  
  .filter-button:active {
    background-color: #CF6A68; /* Even darker coral for click effect */
  }
  .active-filter {
    background-color: #cf6a68; /* Active button color */
    color: white;
  }




  .calendar-container {
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #ddd;
  }
  
  .calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .calendar-day {
    padding: 10px;
  }
  
  .calendar-body {
    display: grid;
    grid-template-rows: repeat(24, auto);
    border-top: 1px solid #ddd;
  }
  
  .calendar-row {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
  }
  
  .calendar-hour {
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 5px;
    background-color: #f4f4f4;
  }
  
  .calendar-cell {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
  }
  
  .calendar-session {
    background-color: #F8D7D0; /* Light coral */
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  