<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-xl-9 col-xxl-8">
                <div class="row">
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-orders></app-graph-orders>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-customers></app-graph-customers>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-12">
                        <div class="card">
                            <app-graph-menu></app-graph-menu>
                        </div>
                    </div>
                    <div 
                    style="margin-top: 10px; 
                     background-color: #f9f9f9; 
                     border-radius: 8px;  
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
                 "
                    class="card">
                    <app-calendar></app-calendar>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
                                <app-column-data-labels></app-column-data-labels>

   
    Content body end
***********************************-->
