<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-xxl-4">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-6">
                        <div  
                            
                        class="card" 
                        style="margin-top: 10px; 
                        margin-left: -60px;"
                        >
                            <app-pie-simple></app-pie-simple>

                            <h1  
                             style="margin-bottom: 20px;
                                    font-weight: 200;
                                    color:#444;
                                    font-size: 1rem;
                                    text-align: center;
                                    align-self: center;
                                    font-weight: 500;"
                            >
                                Plans d'abonnement
                            </h1>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-m-6"></div>
                </div>
            </div>
            <div class="col-xl-9 col-xxl-8">
                <div class="row">
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-orders></app-graph-orders>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-6 col-sm-6">
                        <div class="card">
                            <app-graph-customers></app-graph-customers>
                        </div>
                    </div>
                    <div class="col-xl-4 col-xxl-12">
                        <div class="card">
                            <app-graph-menu></app-graph-menu>
                        </div>
                    </div>
                    <div 
                    style="margin-top: 10px; 
                    margin-left: 55px;
                    background-color: #f9f9f9; /* Change the background here */
                    padding: 20px; /* Add some padding */
                    border-radius: 8px; /* Add rounded corners */
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
                "
                    class="card">
                    <app-calendar></app-calendar>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
                                <app-column-data-labels></app-column-data-labels>

   
    Content body end
***********************************-->
