 
<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <div class="card bg-transparent shadow-none">
          <div class="card-header flex-wrap border-0 p-0 justify-content-start">
            <div class="table-tabs mr-2 mb-3 mr-auto">
              <ul class="nav nav-tabs" ngbNav #nav="ngbNav" role="tablist">
                <li class="nav-item" ngbNavItem="AllStatus">
                                  
 
                                    <a 
                                      style="margin: 2rem;"
                                    class="nav-link" data-toggle="tab"   aria-expanded="false"   ngbNavLink
                                    (click)="showDialog()" 

                                    >
                                        Ajouter un utilisateur	
                                    </a>
                                    
                                    <ng-template ngbNavContent>
                                      <div class="tab-pane fade active show" id="AllStatus">
                                        <div class="table-responsive rounded table-hover">
                                          <table class="table text-black card-table dataTable mb-4 table-responsive-lg dataTablesCard" id="dataTable1">
                                            <thead class="bg-primary">
                                                                <tr>
                                                  <th>Nom & prénom</th>
                                                  <th>Email</th>
                                                  <th>Téléphone</th>
                                                   <th style="background-image:none;"></th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr class="alert alert-dismissible border-0" *ngFor="let user of users | paginate: { itemsPerPage: 8, currentPage: p }">
                                                  <td>{{user.fullname}}</td>
                                                  <td>{{user.email}}</td>
                                                  <td>{{user.phone}}</td>
                                                   <td>
                                                    <div class="dropdown dropdown-no-icon" ngbDropdown>
                                                      <a class="btn-link" href="javascript:void(0)" data-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <circle fill="#000000" cx="12" cy="5" r="2"></circle>
                                                            <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                            <circle fill="#000000" cx="12" cy="19" r="2"></circle>
                                                          </g>
                                                        </svg>                                                      </a>
                                                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                         <a class="dropdown-item text-info" (click)="openEditDialog(user)" >Update user</a>
                                                        <a href="javascript:void(0);" data-dismiss="alert" aria-label="Close" class="dropdown-item" (click)="deleteUserConfirmation(user.id || '')" style="color: red;">Delete user</a>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                          </div>
                                          
                                        </div>
                                      </ng-template>
                                      
                                </li>



                                
                                <p-dialog header="Ajouter un nouveau utilisateur" [(visible)]="displayDialog" 
                                [style]="{width: '50%', height: '60%'}" 
                                [responsive]="true" [modal]="isModal">
                          <form (ngSubmit)="_addUser(newUser)" #userForm="ngForm">
                            
                            <div class="form-group">
                              <label for="fullname">Nom & prénom</label>
                              <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="newUser.fullname" required #fullname="ngModel">
                              <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="text-danger">
                                Full Name is required.
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newUser.email" required #email="ngModel">
                              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                <div *ngIf="email.errors?.required">Email is required.</div>
                                <div *ngIf="email.errors?.email">Invalid email format.</div>
                              </div>
                            </div>
                        
                            <div class="form-group">
                              <label for="password">Mot de passe </label>
                              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="newUser.password" required minlength="8" #password="ngModel">
                              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                <div *ngIf="password.errors?.required">Password is required.</div>
                                <div *ngIf="password.errors?.minlength">Password must be at least 8 characters long.</div>
                              </div>
                            </div>
                      
                            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Ajouter</button>
                          </form>
                      </p-dialog>
                      
                      
















                      <p-dialog header="Update User" [(visible)]="displayDialog2" [style]="{width: '50%', height: '80%'}" [responsive]="true" [modal]="isModal">
                        <form (ngSubmit)="onUpdateUser()">
                          <div class="form-group">
                            <label for="fullname">Nom & prénom</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="newUser.fullname" required>
                          </div>
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newUser.email" required>
                          </div>

                          <div class="form-group">
                            <label for="phone">Téléphone</label>
                            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newUser.phone" required>
                          </div>
                           
                          
                         
                          <button type="submit" class="btn btn-primary">Update User</button>
                        </form>
                      </p-dialog>
                      

                               



 



                               
                                 
                              
                            </ul>
                        </div>

                        
                        <mat-form-field appearance="fill" class="style-2 mr-3 mb-3 dashboard-select"
                         >
                            <mat-select 
                            placeholder="Filter"
                            [(value)]="selectedFilter" (selectionChange)="applyFilter()">
                               <mat-option value="Date">Filter by expire date</mat-option>
                            </mat-select>
                          </mat-form-field>



                          <mat-form-field appearance="fill" class="style-2 mb-3 dashboard-select" style="right: 50rem; width: 320px; margin: 10px 0;">
                            <input matInput placeholder="Enter a name" [(ngModel)]="searchTerm">
                            <button mat-icon-button matSuffix (click)="search()">
                              <mat-icon style="color: #000;">search</mat-icon>
                            </button>
                          </mat-form-field>
                          

                          
                          
                   
                       
                    </div>
                    
                    
                    <div [ngbNavOutlet]="nav" class=""></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
