<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a [routerLink]="['/page-login']"><img  
                                       
                                       style="width: 130px; height: 130px;"
                                        src="assets/emmsat.png" alt=""></a>   

                               </div>
                                <div class="text-center mb-3">
                                </div>
                                <h4 class="text-center mb-4">Forgot Password</h4>
                                <form (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label><strong>Email</strong></label>
                                        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
                                    </div>
                                    <div 

                                    class="text-center">
                                        <button
                                        style="background-color: #f72c36; border-color: #f72c36;"

                                        type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
