<div class="deznav">
    <div class="deznav-scroll" [perfectScrollbar]>
      <ul class="metismenu" id="menu" metis-menu>
        <!-- Users -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/orders-list'}">
          <a [routerLink]="['/admin/orders-list']" aria-expanded="false">
            <i class="flaticon-381-user-7"></i>
            <span class="nav-text">Users</span>
          </a>
        </li>
  
        <!-- Cours -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/order-detail'}">
          <a [routerLink]="['/admin/order-detail']" aria-expanded="false">
            <i class="flaticon-041-graph"></i>
            <span class="nav-text">Cours</span>
          </a>
        </li>
  
        <!-- Coachs -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/customer-list'}">
          <a [routerLink]="['/admin/customer-list']" aria-expanded="false">
            <i class="flaticon-381-user-2"></i>
            <span class="nav-text">Coachs</span>
          </a>
        </li>
  
        <!-- Sessions -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/sessions'}">
          <a [routerLink]="['/admin/sessions']" aria-expanded="false">
            <i class="flaticon-013-checkmark"></i>
            <span class="nav-text">Sessions</span>
          </a>
        </li>
  
        <!-- Bookings -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/bookings'}">
          <a [routerLink]="['/admin/bookings']" aria-expanded="false">
            <i class="flaticon-012-checkmark"></i>
            <span class="nav-text">Bookings</span>
          </a>
        </li>
        
        <li [ngClass]="{'mm-active': currentHref === '/admin/abonnements'}">
          <a [routerLink]="['/admin/abonnements']" aria-expanded="false">
            <i class="flaticon-025-dashboard"></i>
            <span class="nav-text">Abonnements</span>
          </a>
        </li>
        
        <!-- Email -->
        <li [ngClass]="{'mm-active': currentHref === '/admin/email-compose'}">
          <a [routerLink]="['/admin/email-compose']" aria-expanded="false">
            <i class="flaticon-381-file-1"></i>
            <span class="nav-text">Email</span>
          </a>
        </li>
      </ul>
  
      <div class="copyright">
        <p><strong>Pilate & CO Dashboard</strong> © 2025 All Rights Reserved</p>
        <p class="fs-12">
          Made with <span [ngClass]="{'': toggleIcon, 'heart-blast': !toggleIcon}" class="heart" (click)="toggleLoveIcon()"></span>
        </p>
      </div>
    </div>
  </div>
  