<ng-container>
  <div class="calendar-container">
    <!-- Calendar Header -->
    <div class="calendar-header">
      <div class="calendar-day" *ngFor="let day of weekDays">
        {{ day }}
      </div>
    </div>

    <!-- Calendar Body -->
    <div class="calendar-body">
      <div class="calendar-row" *ngFor="let hour of hours">
        <div class="calendar-hour">{{ hour }}</div>
        <div class="calendar-cell" *ngFor="let day of weekDays">
          <!-- Session -->
          <div class="calendar-session" *ngFor="let session of getSessionsForDayAndHour(day, hour)">
            {{ session.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
